NODE_ENV=development
PORT=3001
MONGODB_URI=mongodb+srv://punitmistr_db_user:LeWNcRFOPHiLcOeK@cluster0.3wxoxll.mongodb.net/dietience
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRE=7d
UPLOAD_PATH=../uploads
